/* 상단 화살표 추가하기 */
/* 상세페이지 css */

.page-01 {
  background-color: #303037;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
}

article.detail-article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 390px;
}

.registerHeading {
  font-size: 1.5rem;
  font-weight: bold;
}

.time {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.back-arrow img {
  background: url(../img/Arrow.svg) no-repeat;
  padding: 1rem;
}

.back-arrow {
  background: none;
  padding: 0;
  margin: 0 0 1.2rem 0;
}

.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.input-box > * {
  display: block;
}

.input-box input,
.input-box textarea {
  background-color: #b1f3de;
  padding: 0.5rem;
  border: none;
}

.input-box input {
  border-radius: 16px 16px 0 0;
  font-size: 24px;
  padding: 32px 25px;
}

.input-box textarea {
  padding: 0.5rem;
  min-height: 11rem;
  border-radius: 0 0 16px 16px;
  font-weight: bold;
  font-size: 1rem;
  padding: 12px 25px;
}

.topDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.btn-wrap {
  display: flex;
  position: absolute;
  bottom: 100px;
}

.btn-wrap button {
  flex-grow: 1;
  padding: 16px;
  border: 2px solid #303037;
  border-radius: 16px;
  margin: 1rem;
  font-weight: bold;
  font-size: 1rem;
  width: 100px;
  height: 60px;
  background-color: #fdd287;
  cursor: pointer;
}

#change:disabled {
  background-color: #d9d9d9;
  color: black;
}

/* toggle 버튼 */
.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.toggleSwitch {
  width: 57px;
  height: 30px;
  display: block;
  position: relative;
  border-radius: 16px;
  background-color: #aba9a9;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #fff;
}

#toggle:checked ~ .toggleSwitch {
  background: #288d8d;
}

#toggle {
  display: none;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 28px);
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.3s ease-in;
}

.toggle label {
  width: 57px;
}
